{% extends 'base.html' %}

{% block title %}
    DATA
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
    <br>
    <h2>Results of Demo</h2>
    <br>
    <ul class="list-group" style="width: 30%">
        
        {% for DataModel in datalist.all %}
            <li class="list-group-item"><b>gen</b>: {{DataModel.gen}}</li>
            <li class="list-group-item"><b>popSize</b>: {{DataModel.popSize}}</li>
            <li class="list-group-item"><b>avgFit</b>: {{DataModel.avgFit}}</li>
            <li class="list-group-item"><b>stdDevFit</b>: {{DataModel.stdDevFit}}</li>
            <li class="list-group-item"><b>bestFit</b>: {{DataModel.bestFit}}</li>
            <li class="list-group-item"><b>adjFit</b>: {{DataModel.adjFit}}</li>
            <li class="list-group-item"><b>stag</b>: {{DataModel.stag}}</li>
            <hr>
        {% endfor %}

    </ul>    
{% endblock %}
